<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/db1"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>
    <!-- 管理 SqlSessionFactoryBean 的创建 -->
<!--    <bean id="sqlSessionFactory" class="factorybean.SqlSessionFactoryBean">-->
<!--        <property name="configLocation" value="mybatis-config.xml"></property>-->
<!--    </bean>-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--依赖数据源对象-->
        <property name="dataSource" ref="dataSource"/>
<!--        <property name="configLocation">-->
<!--            -->
<!--        </property>-->

    </bean>
</beans>